html{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

/*--------------------------------topbar-------------------------------------*/
.bg-section1{
    background-color: #e5e5e5;
}
.bg-dropdown{
    border: 1px solid rgb(187, 185, 185);
}
select{
    border: 1px solid rgb(187, 185, 185);
    border-radius: 4px;
    padding: 8px;
}
i{
    color: rgb(94, 94, 94);
}
span , input{
    border-radius: 0 !important;
}
.fa-facebook-square:hover{
    color: #3b5998;
}
.fa-twitter-square:hover{
 color: #1DA1F2;
}
.fa-vimeo-square:hover{
    color: #19B7EA;
}
.fa-youtube-square:hover{
    color: #FF0000;
}
/*----------------------------------------img-navbar-------------------------------------*/
.img-navbar{
    width: 100%;
    height: 100px;
}

/*----------------------------navbar-----------------------*/

.nav-item {
    margin-left: 60px;
    margin-right: 90px;
}
.dropdown-item{
   text-align: justify;
}
.dropdown-item:hover{
    border-top: 1px solid rgb(8, 201, 72);
    border-bottom: 1px solid rgb(8, 201, 72);
}
/**********************************news*****************************/
.news{
    border: 2px solid black;
    border-radius: 2px;
    padding-top: 12px;
}
.new{
 margin-right: 30px;
 color: #FF0000;
 font-weight: 700;
 animation-duration: .8s;
 animation-name: clignoter;
 animation-iteration-count: infinite;
 transition: none;
}
@keyframes clignoter {
    0%   { opacity:1; }
    40%   {opacity:0; }
    100% { opacity:1; }
  } 
/*********************************navtabs*************************/
.border-tabs{
    border: 1px solid ;
    border-radius: 4px;
}
.nav-link.active{
    background-color: rgb(207, 206, 206) !important;
}
.tab-pane{
    padding: 8px 25px 1px ;
}
.img-tayeb{
    width: 200px;
    height: 150px;
    margin: 10px;
}
/**************************************galerie**********************************/
.img1-s2{
    width: 100%;
    height: 380px;
}
.img-s2{
    width: 260px;
    height: 180px;
}
.card-img-overlay{
    background-color: rgba(0, 0, 0, 0.39);
}
.card-img-overlay:hover{
    background-color:transparent;
}
.card-text{
    color: rgb(252, 252, 252);
}

/*************************************card**************************************/
.text-s3{
    background-color: rgb(26, 143, 65);
    color: white;
    font-weight: 700;
    padding: 5px 10px 5px 10px;
}
.border-s3{
    border-bottom: 2px solid rgb(26, 143, 65);
}
.annance-s3{
    background-color: rgb(120, 121, 120);
    color: white;
    font-weight: 700;
    padding: 5px 10px 5px 10px;
}
.borderan-s3{
    border-bottom: 2px solid rgb(120, 121, 120);
}
.text-card-s3{
    font-size: 15px;
    color: rgb(116, 116, 116);
}
/***********************card small****************/
.text-pcard{
    font-size: 10px;
    margin-right: 20px;
    margin-left: 1px;
    font-weight: 700;
    color: #5a5a5a;
}
.text-pcard:hover{
    color:rgb(26, 143, 65) ;
}
.date-cp{
    font-size: 10px;
    margin-right: 80px;
    font-weight: 550;
    color: #5a5a5a;
}
.text-se2{
   margin-top: 30px; 
}
b{
    color: rgb(68, 61, 61);
}
.date-s2{
    color: #5a5a5a;
    font-size: 15px; 
    border-bottom:1px solid #c0c0c0;
    padding-bottom: 5px;
    margin-bottom: 45px;
}

.bor{
    border-radius: 1px;
    border: none;
    background-color: green;
    padding: 10px;
    color: white;
    font-weight: 900;
    font-size: 20px;
}
.page-link {
    color: green;
}

.zoom-img div img {
	-webkit-filter: sepia(100%);
	filter: sepia(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.zoom-img div:hover img {
	-webkit-filter: sepia(0);
	filter: sepia(0);
}

.footer-clean ul {
    list-style:none;
  }
  a{
      text-decoration: none;
      color: black;
  }
  a:hover{
      color: green;
  }
